[Desktop Entry]
Encoding=UTF-8
Name=HQPlayer Desktop Manual
GenericName=Manual for the HQPlayer Desktop
Type=Application
Exec=evince /usr/share/doc/hqplayer/HQPlayer-manual.pdf.bz2
Icon=hqplayer-manual
Categories=Qt;KDE;AudioVideo;Audio;Player;
